<% @page_title = "Dashboard" %>

<h2>Your courses</h2>
<% current_user.courses.each do |course| %>
    <h3><%= link_to course.name, course_path(course) %></h3>

    <div class="row">
        <div class="col-md-7">
            <%= render "assignments/table", assignments: course.assignments, for_user: current_user %>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Teams</h3>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start</th>
                            <th>End</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% current_user.teams.where(course: course).order(end_date: :desc).each do |team| %>
                            <tr class="<%= team.active? ? "success" : "" %>">
                                <td><%= team %></td>
                                <td><%= team.start_date %></td>
                                <td><%= team.end_date %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% end %>
