<%= form_for [@course, @assignment] do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this
        assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :assignment, "Assignment Text" %>
    <br>(Allows HTML markup)
    <%= f.text_area :assignment, class: "form-control rich-text" %>
  </div>
  <div class="form-group">
    <%= f.label :assignment_file %>
    <%= f.file_field :assignment_file %>
  </div>
  <div class="form-group">
    <% if !@assignment.grading_file_name.nil? && @assignment.grading_file_name != "" %>
    <span>Existing file</span>
    <%= link_to @assignment.grading_file_name, @assignment.grading_file_path %>
    <% end %>
    <%= f.label :grading_file %>
    <%= f.file_field :grading_file %>
  </div>
  <div class="form-group">
    <%= f.label :solution_file %>
    <%= f.file_field :solution_file %>
  </div>
  <div class="form-group">
    <%= f.label :points_available %>
    <br>(This is the percentage of the final grade that this
    assignment is worth.  Default: same as previous assignment)
    <%= f.text_field :points_available, size: 10, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :hide_grading, "Hide Grading?" %>
    <%= f.check_box :hide_grading, checked: true %>
    <br>(Assignment scores and teacher notes are hidden.)
  </div>
  <div class="form-group">
    <p><strong>Late Penalty</strong></p>
    <%= render 'lateness/picker', :within_course => true %>
  </div>
  <div class="form-group">
    <%= f.label :team_subs, "Team Submissions?" %>
    <%= f.check_box :team_subs %>
    <br>(Can only submit as a member of a team.)
  </div>
  <div class="form-group">
    <%= f.label :due_date %>
    <div class="row"><p class="col-sm-12">(Assignment should not be
    submitted after this time. Default: one week from today.)</p></div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :due_date, class: 'form-control' %>
      </div>
      <script type="text/javascript">
        $(function () {
          $('#assignment_due_date').datetimepicker({
            sideBySide: true,
            format: "YYYY/MM/DD h:mm A",
            minDate: "<%= @course.created_at.strftime("%Y/%m/%d") %>",
            defaultDate: "<%= (DateTime.current.end_of_day + 1.week).strftime("%Y/%m/%d %H:%M") %>"
          });
        });
      </script>
    </div>
  </div>
  <div class="form-group">
  <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
