<% if gradesheet.submissions.empty? %>
  <div class="well">
    No submissions yet.
  </div>
<% else %>
  <table class="table table-striped row-vcenter">
    <tr>
      <th>Status</th>
      <th>Submitter</th>
      <th>Team</th>
      <th>Date</th>
      <th>Status</th>
      <% gradesheet.grades[:names].each do |c| %>
      <th class="text-right"><%= c %></th>
      <% end %>
      <th class="text-right">Total</th>
      <th>Grade</th>
      <th class="text-right">Action</th>
    </tr>

  <% gradesheet.grades[:grades].each do |grade| %>
    <% sub = grade[:sub] %>
    <% used_sub = gradesheet.assignment.used_sub_for(user) %>
    <% used = (!used_sub.nil? && used_sub.id == sub.id) %>
    <% if sub.stale_team? %>
    <tr class='muted'>
    <% elsif used %>
    <tr class='success'>
    <% else %>
    <tr>
    <% end %>
      <td>
        <% if sub.stale_team? %>
        <span class="well-sm glyphicon glyphicon-alert" 
              title="Team was disolved before homework was due"></span>
        <% elsif used %>
        <span class="well-sm glyphicon glyphicon-chevron-right" 
              title="This submission is used for grading"></span>
        <% end %>
      </td>
      <td><%= sub.user.name %></td>
      <td><%= sub.team %></td>
      <td><span class="local-time"><%= sub.created_at %></span></td>
      <% scores = grade[:blind_scores] %>
      <td><%= status_image(sub, sub.score) %></td>
      <% scores[:scores].each do |s| %>
      <td class="text-right">
        <% if s.kind_of?(Array) %>
        <%= to_fixed(s[0]) %>&nbsp;/&nbsp;<%= to_fixed(s[1]) %>
        <% else %>
        <%= s %>
        <% end %>
      </td>
      <% end %>
      <% if scores[:raw_score] && sub.score %>
      <td class="text-right"><%= to_fixed(scores[:raw_score]) %>&nbsp;/&nbsp;<%= to_fixed(gradesheet.max_score) %></td>
      <td>(<%= to_fixed(sub.score) %>%)</td>
      <% else %>
      <td><%= image_tag("question-mark.png", height: 32) %></td><td></td>
      <% end %>
      <td><%= link_to "View", course_assignment_submission_path(course, gradesheet.assignment, sub) %></td>
    </tr>
  <% end %>

  </table>
<% end %>
