<%= @page_title = "Edit Assignment" %>

<p>
  <%= link_to "Back to Course: #{@course.name}", staff_course_path(@course) %>
<% unless @chapter.nil? %>
  | <%= link_to "Back to Chapter: #{@chapter.name}", @chapter %>
<% end %>
  | <%= link_to "View Assignment", staff_course_assignment_path(@course, @assignment) %>
</p>

<%= render 'form' %>
