<% @page_title = "#{@course.name} / Assignments" %>


<% if @course && @course.registered_by?(current_user) %>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" data-toggle="collapse" data-target="#assignments-table">
            Assignments

            <% if @course && @course.registered_by?(current_user) %>
            <div class="pull-right">
              <%= link_to "New", new_course_assignment_path(@course), class: 'btn btn-xs btn-success' %>
            </div>
            <div class="pull-right">
              <%= link_to "Edit Assignment Weights", weights_course_assignments_path, class: 'btn btn-xs btn-default' %>
            </div>
            <% end %>
        </h3>
    </div>

    <div id="assignments-table" class="panel-body collapse in">
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due Date</th>
                <th>Weight</th>
                <th>Min (%)</th>
                <th>Avg (%)</th>
                <th>Max (%)</th>
            </tr>
        </thead>
        <tbody>
          <%
             assignments = @course.assignments.order(due_date: :desc)
             stats = @course.submissions
                            .select("min(assignment_id) as a_id")
                            .select("min(score), avg(score), max(score)")
                            .group(:assignment_id).to_a
          %>
          <% assignments.each do |assn| %>
          <% stat = stats.find{|r| r.a_id == assn.id} %>
          <tr>
            <td><%= link_to assn.name, course_assignment_path(@course, assn) %></td>
            <td><%= assn.due_date.strftime("%b %e, %l:%M %p") %></td>
            <td><%= show_score(assn.points_available, assn, true) %>
            <td><%= show_score(stat.min, assn, true) %>%</td>
            <td><%= show_score(stat.avg, assn, true) %>%</td>
            <td><%= show_score(stat.max, assn, true) %>%</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-toggle="collapse"
        data-target="#students-table">
      Students
    </h3>
  </div>
  <div id="students-table" class="panel-body collapse in">
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan=2>Student</th>
          <th>Min</th>
          <th>Cur</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        <% 
        @course.score_summary.each do |info|
        %>
          <tr>
            <td width="1em"><%= mail_to "#{info[:s].name} <#{info[:s].email}>", "@" %></td>
            <td><%= link_to info[:s].display_name, impersonate_user_path(info[:s]), method: 'post' %></td>
            <td><%= show_score(info[:min], nil, true) %></td>
            <td><%= show_score(info[:cur], nil, true) %></td>
            <td><%= show_score(info[:max], nil, true) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% else %>
<%= render "assignments/table", assignments: @course.assignments, for_user: current_user %>
<% end %>
