<% @page_title = "#{@course.name} / #{@gradesheet.assignment.name}" %>

<% cur_reg = current_user.registration_for(@course) %>
<% if cur_reg.student? then debugger end %>
<% if cur_reg.professor? %>
<p class="pull-right">
  <%= link_to "Edit Assignment", 
      edit_course_assignment_path(@course, @gradesheet.assignment), class: "btn btn-default" %>
</p>
<% end %>

<%= render 'assignment_questions_info', gradesheet: @gradesheet %>
<h3>Questions</h3>
<% count = 1 %>
<% @questions.each do |section| %>
  <% section.each do |name, qs| %>
  <h4><%= name %></h4>
  <ol start="<%= count %>">
    <% qs.each do |question| %>
    <% question.each do |type, q| %>
    <li><b><%= h type %>: </b><small>(<%= pluralize(q["weight"], "point") %>)</small>
      <p><%= sanitize(q["prompt"], tags: %w(b strong i em)) %></p>
      <% if q["options"] %>
      <ul>
        <% q["options"].each do |opt| %>
        <li><%= sanitize(opt, tags: %w(b strong i em)) %></li>
        <% end %>
      </ul>
      <% end %>
      <% if !q["correctAnswer"].nil? %>
      <p><i><b>Correct answer:</b> <%= q["correctAnswer"] %></i></p>
      <% end %>
      <% if q["parts"] %>
        <% q["parts"].each do |part| %>
          <% if part["codeTag"] %>
          <p>(CodeTag) <%= sanitize(part["codeTag"], tags: %w(b strong i em)) %></p>
          <% elsif part["codeTags"] %>
          <p>(Multiple CodeTags) <%= sanitize(part["codeTag"], tags: %w(b strong i em)) %></p>
          <% elsif part["text"] %>
          <p>(Text) <%= sanitize(part["text"], tags: %w(b strong i em)) %></p>
          <% end %>
        <% end %>
      <% end %>  
    </li>
    <% end %>
    <% end %>
  </ol>
  <% count += qs.count %>
  <% end %>
<% end %>
<%= render 'admin_subs' %>
