<% @page_title = "#{@course.name} / #{@gradesheet.assignment.name}" %>

<% cur_reg = current_user.registration_for(@course) %>
<% if cur_reg.professor? %>
<p class="pull-right">
  <%= link_to "Edit Assignment", 
      edit_course_assignment_path(@course, @gradesheet.assignment), class: "btn btn-default" %>
</p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <p>
      <b>Name:</b>
      <%= @gradesheet.assignment.name %>
    </p>

    <p>
      <b>Due Date:</b>
      <span class="local-time"><%= @gradesheet.assignment.due_date %></span>
    </p>
    <p>
      <b>Grading Hidden:</b>
      <%= @gradesheet.assignment.hide_grading? ? "Yes" : "No" %>
    </p>
    <p>
      <b>Teams:</b>
      <%= @gradesheet.assignment.team_subs? ? "Yes" : "No" %>
    </p>
    <% unless @gradesheet.assignment.assignment_file_name.blank? %>
      <p>
        <b>Assignment Download:</b>
        <%= link_to @gradesheet.assignment.assignment_file_name, @gradesheet.assignment.assignment_file_path %>
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <div class="prose">
          <%= raw @gradesheet.assignment.assignment %>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>
  Submissions (<%= @gradesheet.submissions.count %>)
  <% if cur_reg.staff? && @gradesheet.assignment.due_date <= DateTime.now %>
    <%= link_to "Download all", 
        course_assignment_tarball_path(@course, @gradesheet.assignment),
        class: "btn btn-default" %>
    <% if @gradesheet.missing_graders %>
    <%= link_to "Create missing graders",
        create_missing_graders_course_assignment_path(@course, @gradesheet.assignment),
        method: 'post', class: "btn btn-warning",
        data: { confirm: "This may take a while; please be patient" } %>
    <% else %>
    <%= link_to "Publish grades", 
        course_assignment_publish_path(@course, @gradesheet.assignment), class: "btn btn-default",
        method: 'patch',
        data: { confirm: "Are you sure you want to publish all grades?" }%>
    <% end %>
  <% else %>
    <%= link_to "New Submission", 
        new_course_assignment_submission_path(@course, @gradesheet.assignment), class: "btn btn-success" %>
  <% end %>
</h3>

<% if current_user.site_admin? || cur_reg.staff? %>

  <% if @gradesheet.submissions.empty? %>
    <div class="well">
      No submissions yet.
    </div>
  <% else %>
    <table id="submissions" class="table table-striped row-vcenter">
      <thead>
        <tr>
          <th>Submitter</th>
          <th>Date</th>
          <th>Status</th>
          <% @gradesheet.grades[:names].each do |c| %>
          <th class="text-right"><%= c %></th>
          <% end %>
          <th class="text-right">Total</th>
          <th>Grade</th>
          <th class="text-right">Link</th>
        </tr>
      </thead>
      <tbody>
      <% @gradesheet.grades[:grades].each do |grade| %>
        <% sub = grade[:sub] %>
        <% if sub.stale_team? %>
        <tr class='text-muted'>
        <% else %>
        <tr>
        <% end %>
          <td><%= sub.user.name %></td>
          <td><span class="local-time"><%= sub.created_at %></span></td>
          <% scores = grade[:staff_scores] %>
          <td><%= status_image(sub, scores[:raw_score] / @gradesheet.max_score) %></td>
          <% scores[:scores].each do |s| %>
          <td class="text-right">
            <% if s.kind_of?(Array) %>
            <%= show_score(s[0], @gradesheet.assignment, true) %>&nbsp;/&nbsp;<%= to_fixed(s[1])%>
            <% else %>
            <%= s %>
            <% end %>
          </td>
          <% end %>
          <% if scores[:raw_score] && sub.score %>
          <td class="text-right">
            <%= to_fixed(scores[:raw_score])%>&nbsp;/&nbsp;<%= to_fixed(@gradesheet.max_score)%>
          </td>
          <td>(<%= to_fixed(sub.score) %>%)</td>
          <% else %>
          <td class="text-right"><%= image_tag("question-mark.png", height: 32) %></td>
          <td>NONE</td>
          <% end %>
          <td class="text-right">
            <form method="link"
                  action="<%= course_assignment_submission_path(@course, @gradesheet.assignment, sub) %>">
              <div class="btn-group">
                <%= link_to "View",
                    course_assignment_submission_path(@course, @gradesheet.assignment, sub),
                    class: "btn btn-sm btn-default" %>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "View active", 
                          course_assignment_submission_path(@course, @gradesheet.assignment, sub), 
                          class: "dropdown-item" %></li>
                  <li><%= link_to "View all", 
                          course_assignment_user_path(@course, @gradesheet.assignment, sub.user.id), 
                          class: "dropdown-item" %></li>
                <!-- <div class="dropdown-divider"></div> -->
                </ul>
              </div>        
            </form>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <script>
      $(function() {
        $.tablesorter.themes.bootstrap = {
          caption      : 'caption',
          sortNone     : '',
          sortAsc      : '',
          sortDesc     : '',
          active       : '', // applied when column is sorted
          hover        : '', // custom css required - a defined bootstrap style may not override other classes
          // icon class names
          icons        : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
          iconSortAsc  : 'glyphicon glyphicon-chevron-up', // class name added to icon when column has ascending sort
          iconSortDesc : 'glyphicon glyphicon-chevron-down', // class name added to icon when column has descending sort
          filterRow    : '', // filter row class; use widgetOptions.filter_cssFilter for the input/select element
          footerRow    : '',
          footerCells  : '',
          even         : '', // even row zebra striping
          odd          : ''  // odd row zebra striping
        };
        $("#submissions").tablesorter({
          headerTemplate: "{content} {icon}",
          headers: {
            2: { sorter: false },
            8: { sorter: false },
          },
          theme: "bootstrap",
          widgets: ['uitheme']
        });
      });
    </script>    
  <% end %>
<% else %>
<%= render 'user_subs', user: current_user, course: @course, gradesheet: @gradesheet %>
<% end %>
