<% @page_title = "#{@course.name} / #{@assignment.name}" %>

<% if current_user.registration_for(@course).professor? %>
<p class="pull-right">
  <%= link_to "Edit", edit_course_assignment_path(@course, @assignment), class: "btn btn-default" %>
</p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <p>
      <b>Name:</b>
      <%= @assignment.name %>
    </p>

    <p>
      <b>Bucket:</b>
      <%= @assignment.bucket.name %>
    </p>
    <p>
      <b>Due Date:</b>
      <%= @assignment.due_date %>
    </p>
    <p>
      <b>Grading Hidden:</b>
      <%= @assignment.hide_grading? ? "Yes" : "No" %>
    </p>
    <p>
      <b>Teams:</b>
      <%= @assignment.team_subs? ? "Yes" : "No" %>
    </p>
    <% unless @assignment.assignment_file_name.blank? %>
      <p>
        <b>Assignment Download:</b>
        <%= link_to @assignment.assignment_file_name, @assignment.assignment_file_path %>
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <div class="prose">
          <%= raw @assignment.assignment %>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>
  Submissions
  <% if current_user.registration_for(@course).staff? %>
    <%= link_to "Download all", course_assignment_tarball_path(@course, @assignment), class: "btn btn-default" %>
  <% else %>
    <%= link_to "New Submission", new_course_assignment_submission_path(@course, @assignment), class: "btn btn-success" %>
  <% end %>
</h3>

<%# TODO: Show team members if this is a team assignment. %>

<% if @submissions.empty? %>
  <div class="well">
    No submissions yet.
  </div>
<% else %>
  <table class="table table-striped">
    <tr>
      <th>Submitter</th>
      <th>Date</th>
      <th>Status</th>
      <th>Automatic</th>
      <th>Teacher</th>
      <th>Score</th>
      <th>Link</th>
    </tr>

  <% @submissions.each do |sub| %>
    <tr>
      <td><%= link_to sub.uname, impersonate_user_path(sub.uid), method: 'post'%></td>
      <td><span class="local-time"><%= sub.created_at %></span></td>
      <td><%= status_image(sub) %></td>
      <td><%= sub.auto_score || '∅' %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
      <td><%= show_score(sub.teacher_score) %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
      <td><%= show_score(sub.score) %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
      <td>
        <%= link_to "View", course_assignment_submission_path(@course, @assignment, sub) %>
      </td>
    </tr>
  <% end %>

  </table>
<% end %>
