<% @page_title = "#{@course.name} / #{@gradesheet.assignment.name}" %>

<% cur_reg = current_user.registration_for(@course) %>
<% if cur_reg.professor? %>
<p class="pull-right">
  <%= link_to "Edit Assignment", 
      edit_course_assignment_path(@course, @gradesheet.assignment), class: "btn btn-default" %>
</p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <p>
      <b>Name:</b>
      <%= @gradesheet.assignment.name %>
    </p>

    <p>
      <b>Due Date:</b>
      <%= @gradesheet.assignment.due_date %>
    </p>
    <p>
      <b>Grading Hidden:</b>
      <%= @gradesheet.assignment.hide_grading? ? "Yes" : "No" %>
    </p>
    <p>
      <b>Teams:</b>
      <%= @gradesheet.assignment.team_subs? ? "Yes" : "No" %>
    </p>
    <% unless @gradesheet.assignment.assignment_file_name.blank? %>
      <p>
        <b>Assignment Download:</b>
        <%= link_to @gradesheet.assignment.assignment_file_name, @gradesheet.assignment.assignment_file_path %>
      </p>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <div class="prose">
          <%= raw @gradesheet.assignment.assignment %>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>
  Submissions (<%= @gradesheet.submissions.count %>)
  <% if cur_reg.staff? %>
    <%= link_to "Download all", 
        course_assignment_tarball_path(@course, @gradesheet.assignment), class: "btn btn-default" %>
  <% else %>
    <%= link_to "New Submission", 
        new_course_assignment_submission_path(@course, @gradesheet.assignment), class: "btn btn-success" %>
  <% end %>
</h3>

<%# TODO: Show team members if this is a team assignment. %>

<% if current_user.site_admin? || cur_reg.staff? %>

  <% if @gradesheet.submissions.empty? %>
    <div class="well">
      No submissions yet.
    </div>
  <% else %>
    <table class="table table-striped row-vcenter">
      <tr>
        <th>Submitter</th>
        <th>Date</th>
        <th>Status</th>
        <% @gradesheet.grades[:names].each do |c| %>
        <th class="text-right"><%= c %></th>
        <% end %>
        <th class="text-right">Total</th>
        <th>Grade</th>
        <th class="text-right">Link</th>
      </tr>
      
    <% @gradesheet.grades[:grades].each do |grade| %>
      <% sub = grade[:sub] %>
      <% if sub.stale_team? %>
      <tr class='text-muted'>
      <% else %>
      <tr>
      <% end %>
        <td><%= sub.user.name %></td><!--<%= link_to sub.user.name, user_path(sub.user.id) %></td>-->
        <td><span class="local-time"><%= sub.created_at %></span></td>
        <% scores = if cur_reg.staff? then grade[:staff_scores] else grade[:blind_scores] end %>
        <td><%= status_image(sub, scores[:raw_score]) %></td>
        <% scores[:scores].each do |s| %>
        <td class="text-right">
          <% if s.kind_of?(Array) %>
          <%= number_with_precision(s[0], :precision => 2) %>&nbsp;/&nbsp;<%= number_with_precision(s[1], :precision => 2)%>
          <% else %>
          <%= s %>
          <% end %>
        </td>
        <% end %>
        <% if scores[:raw_score] && sub.score %>
        <td class="text-right">
          <%= number_with_precision(scores[:raw_score], :precision => 2)%>&nbsp;/&nbsp;<%= number_with_precision(@gradesheet.max_score, :precision => 2)%>
        </td>
        <td>(<%= number_with_precision(sub.score, :precision => 2) %>%)</td>
        <% else %>
        <td class="text-right"><%= image_tag("question-mark.png", height: 32) %></td>
        <td>NONE</td>
        <% end %>
        <% if cur_reg.staff? %>
        <td class="text-right">
          <form method="link"
                action="<%= course_assignment_submission_path(@course, @gradesheet.assignment, sub) %>">
            <div class="btn-group">
              <%= link_to "View",
                  course_assignment_submission_path(@course, @gradesheet.assignment, sub),
                  class: "btn btn-sm btn-default" %>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "View most recent", 
                        course_assignment_submission_path(@course, @gradesheet.assignment, sub), 
                        class: "dropdown-item" %></li>
                <li><%= link_to "View all", 
                        course_assignment_user_path(@course, @gradesheet.assignment, sub.user.id), 
                        class: "dropdown-item" %></li>
              <!-- <div class="dropdown-divider"></div> -->
              </ul>
            </div>        
          </form>
        </td>
        <% else %>
        <td><%= link_to "View", course_assignment_submission_path(@course, @gradesheet.assignment, sub) %></td>
        <% end %>
      </tr>
    <% end %>

    </table>
  <% end %>
<% else %>
<%= render 'user_subs', user: current_user, course: @course, gradesheet: @gradesheet %>
<% end %>
