<% @page_title = "#{@course.name} / #{@gradesheet.assignment.name}" %>

<% cur_reg = current_user.registration_for(@course) %>
<% if cur_reg.student? then debugger end %>
<% if cur_reg.professor? %>
<p class="pull-right">
  <%= link_to "Edit Assignment", 
      edit_course_assignment_path(@course, @gradesheet.assignment), class: "btn btn-default" %>
</p>
<% end %>

<%= render 'assignment_questions_info', gradesheet: @gradesheet %>
<div>
<div class="pull-right">
<%= link_to "Enter all grades",
    bulk_course_assignment_grader_config_path(@course, @assignment, @grader_config),
    class: "btn btn-success" %>
</div>
<h3 data-toggle="collapse" data-target="#questions">Questions</h3>
<div id="questions" class="collapse in">
<% count = 1 %>
<ul>
  <% @questions.each_with_index do |q, q_num| %>
  <% if q["parts"] %>
    <% @part_name = "a" %>
    <% q["parts"].each do |part| %>
      <li>
        <p>
          <b><%= if part["name"] then part["name"] else "Problem #{q_num + 1}#{@part_name}" end %></b>
          (<%= part["weight"] %> points<% if part["extra"] %> <b>Extra Credit</b><% end %>)
        </p>
        <% if part["description"] %><p><%= part["description"] %></p><% end %>
      </li>
      <% @part_name.next! %>
    <% end %>
  <% else %>
  <li>
    <p>
      <b><%= if q["name"] then q["name"] else "Problem #{q_num + 1}" end %></b>
      (<%= q["weight"] %> points<% if q["extra"] %> <b>Extra Credit</b><% end %>)
    </p>
    <% if q["description"] %><p><%= q["description"] %></p><% end %>
  </li>
  <% end %>
  <% end %>
</ul>
</div>
</div>
<%= render "admin_subs", type: {noun: "exam", verb: "answer", gerund: "answering"} %>

