<% @page_title = "#{@course.name}: #{@assignment.name}" %>

<div class="page-header">
  <h1>
    <%= @course.name %>
    <small><%= @assignment.name %></small>
  </h1>

  <div class="actions">
    <%= link_to 'Edit', edit_staff_course_assignment_path(@course, @assignment), class: "btn btn-default" %>
  </div>
</div>

<p><strong>Bucket</strong> <%= @assignment.bucket.name %></p>
<p><strong>Due Date</strong> <%= @assignment.due_date %></p>
<p><strong>Grading Hidden</strong> <%= @assignment.hide_grading? ? "yes" : "no" %></p>
<p><strong>Teams</strong> <%= @assignment.team_subs? ? "yes" : "no" %></p>

<% unless @assignment.assignment.blank? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong>Description:</strong></p>
    </div>
    <div class="panel-body">
      <div class="prose">
        <%= raw @assignment.assignment %>
      </div>
    </div>
  </div>
<% end %>

<% unless @assignment.assignment_file_name.blank? %>
  <p>
    <b>Assignment Download:</b>
    <%= link_to @assignment.assignment_file_name, @assignment.assignment_file_path %>
  </p>
<% end %>

<% unless @assignment.grading_file_name.blank? %>
  <p>
    <b>Grading File Download:</b>
    <%= link_to @assignment.grading_file_name, @assignment.grading_file_path %>
  </p>
<% end %>

<% unless @assignment.solution_file_name.blank? %>
  <p>
    <b>Solution File Download:</b>
    <%= link_to @assignment.solution_file_name, @assignment.solution_file_path %>
  </p>
<% end %>

<h3>Student Submissions</h3>

<% # TODO
   if false %>
<p>
  <%= link_to "Manually Add Student Grade", staff_course_assignment_path(@course, @assignment) +
    '/manual_grade' %> |
  <%= link_to "Tarball of Submissions", staff_course_assignment_path(@course, @assignment) + '/tarball' %>
</p>
<% end %>

<p>
  Filter Tags:
  <select id="tag-filter"></select>
  <button class="btn btn-default" id="apply-filter">Apply</button>
</p>

<table class="table table-striped">
  <tr>
    <th>Student</th>
    <th>Attempts</th>
    <th>Date</th>
    <th>Status</th>
    <th>Automatic</th>
    <th>Teacher</th>
    <th>Score</th>
    <th>Link</th>
  </tr>

  <% @students.each do |reg| %>
    <% sub = @assignment.best_sub_for(reg.user) %>
    <tr id="sub-for-user-<%= reg.user.id %>" data-tags="<%= reg.tags %>">
      <%#= render 'submissions/row_form', user: reg.user, sub: sub %>
    </tr>
  <% end %>
</table>

<% # TODO: This should be a section for graders to see what they need to grade.
   if false %>

<h1>Your Submissions</h1>

<% if (@assignment.team_subs? && !current_user.course_admin?(@course)) %>
  <p>Team Members: <%= @team.member_names %></p>
  <p><%= link_to "New Team Submission", new_assignment_submission_path(@assignment) %></p>
<% else %>
  <p><%#= link_to "New Submission", new_assignment_submission_path(@assignment) %></p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Status</th>
    <th>Automatic</th>
    <th>Teacher</th>
    <th>Score</th>
    <th>Link</th>
  </tr>

<% @submissions.each do |sub| %>
  <tr>
    <td><span class="local-time"><%= sub.created_at %></span></td>
    <td><%= status_image(sub) %></td>
    <td><%= sub.auto_score || '∅' %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
    <td><%= show_score(sub.teacher_score) %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
    <td><%= show_score(sub.score) %>&nbsp;/&nbsp;<%= sub.assignment.points_available %></td>
    <td>
      <%#= link_to "View", sub %>

      <% if current_user.course_admin?(@course) %>
        | <%#= link_to "Grade", [:edit, sub] %>
      <% end %>
    </td>
  </tr>
<% end %>

</table>

<% end %>
