<%= form_for [:staff, @course, @registration] do |f| %>
  <%= f.hidden_field :course_id %>

  <div class="form-group">
    <%= label_tag :user_email, "Email" %>
    <%= text_field_tag :user_email %>
  </div>
  <div class="form-group">
    <%= label_tag :user_name, "Name" %>
    <%= text_field_tag :user_name %>
  </div>
  <div class="form-group">
    <%= label_tag :teacher, "Teacher?" %>
    <%= f.check_box :teacher %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
