<% @page_title = "Registrations" %>

<div class="page-header">
  <h1>Registrations</h1>

  <div class="actions">
    <%= link_to "New Registration(s)", new_staff_course_registration_path(@course), class: "btn btn-success" %>
  </div>
</div>

<h2>Teachers</h2>

<table class="table table-striped">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Show in Reports</th>
  <th>&nbsp;</th>
</tr>

<% @course.teacher_registrations.each do |treg| %>
  <% teacher = treg.user %>
<tr>
  <td><%= teacher.name %></td>
  <td><%= teacher.email %></td>
  <td>
    <span class="show-user-<%= treg.id %>"><%= treg.show_in_lists? ? "Yes" : "No" %></span>
    (<%= link_to "Toggle", toggle_staff_course_registration_path(@course, treg), method: :post %>)
  </td>
  <td>
    <%= link_to 'Remove', staff_course_registration_path(@course, treg), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<h2>Students</h2>

<table class="table table-striped">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Show In Reports</th>
  <th>&nbsp;</th>
</tr>

<% @course.student_registrations.each do |sreg| %>
  <% student = sreg.user %>
<tr>
  <td><%= link_to student.name, staff_user_path(student) %></td>
  <td><%= student.email %></td>
  <td>
    <span class="show-user-<%= sreg.id %>"><%= sreg.show_in_lists? ? "Yes" : "No" %></span>
    (<%= link_to "Toggle", toggle_staff_course_registration_path(@course, sreg), method: :post %>)
  </td>
  <td>
    <%= link_to 'Remove', staff_course_registration_path(@course, sreg), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
<% end %>
</table>
