<% @page_title = "User: #{@user.name}" %>

<p>
  <%= link_to 'Back to List', users_path %> |
  <%= link_to 'Edit User', edit_user_path(@user) %>
</p>

<h2>
  Basic Profile Information
<% if current_user.site_admin? || current_user.professor_ever? %>
<%= link_to "Impersonate", impersonate_user_path(@user), 
    class: "btn btn-primary pull-right" %>
<% end %>
</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>Site Admin?</td>
    <td><%= @user.site_admin? ? "Yes" : "No" %></td>
  </tr>
</table>


<h2>Enrolled Courses</h2>

<ul>
<% @user.registrations.sort_by {|rr| rr.course.name }.each do |reg| %>
<li><%= reg.course.name %>
  <% if reg.professor? %>
  (Professor)
  <% end %>
(<%= link_to "View", reg.course %>)</li>
<% end %>
</ul>
