<% @page_title = "New Course" %>

<div class="row">
  <div class="col-md-6">
    <h1>New Registration</h1>

    <div class="well">
      <%= form_for [@course, @registration] do |f| %>
        <% if @registration.errors.any? %>
          <div id="error_explanation">
            <p>
              <%= pluralize(@registration.errors.count, "error") %>
              prohibited this registration from being saved:
            </p>
            <ul>
              <% @registration.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :course_id %>
        <div class="form-group">
          <%= label_tag :user_email, "Email" %>
          <%= email_field_tag :user_email, nil, { class: "form-control" } %>
        </div>
        <div class="form-group">
          <%= f.label :role %><br />
          <%= f.select :role, RegRequest.roles.to_a.map { |w| [w[0].humanize, w[0]] } %>
        </div>
        <div class="form-group">
          <%= f.submit nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <% if false %>
  <div class="col-md-6">
    <h1>Bulk Registrations</h1>

    <div class="well">
      <%= form_tag bulk_staff_course_registrations_path(@course) do |f| %>
        <%= hidden_field_tag :course_id, @course.id %>
        <div class="form-group">
          <%= label_tag :emails, "Emails" %>
          <%= text_area_tag :emails, nil, class: "form-control", rows: 10 %>
          <p class="help-block">
            Enter student emails in CSV format
            <code>bob@school.edu\n...</code>.
          </p>
        </div>
        <div class="form-group">
          <%= submit_tag "Create Registrations", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
