<% @submission_files.each_with_index do |f, i| %>
<% index = "file_" + (i + 1).to_s.rjust(@submission_files.count.to_s.length, '0') %>
<div class="tab-pane panel-tab-pane active<%= if i > 0; ' hideAfterRender' end %>" id="<%= index %>">
  <% if f[:type] == "image" %>
  <%= image_tag f[:link], alt: f[:name] %>
  <% elsif f[:type] == "zip" || f[:type] == "jar" %>
  <%= link_to "Download #{f[:name]}", f[:link] %>
  <% else %>
  <% begin
       contents = render html: f[:contents] %>
  <div>
    <textarea class="sourceCode" data-lang="<%= f[:type] %>"
              data-source="<%= f[:link] %>"
              id="contents_<%= i %>"><%= contents %></textarea>
  </div>
  <% rescue Exception %>
  <p>Could not render <%= f[:name] %></p>
  <p><%= link_to "Download #{f[:name]}", f[:link] %></p>
  <div style="display: none;">
    <textarea class="sourceCode" data-lang="<%= f[:type] %>"
              data-source="<%= f[:link] %>"
              id="contents_<%= i %>"></textarea>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>
