<% @page_title = "View Response" %>
<% cur_reg = current_user.registration_for(@course) %>
<% content_for :wide_content_before do %>

<p>
  <%= link_to "Back to Assignment: #{@assignment.name}", course_assignment_path(@course, @assignment) %>
</p>

<h1>Response</h1>

<%= render :partial => 'submissions/sub_info' %>

<% unless @answers_are_newer %>
<h3>These responses are for an outdated submission!</h3>
<% end %>

<% end %>

<% content_for :wide_content do %>
<% if @assignment.related_assignment_id %>
<div class="col-sm-6">
  <div id="files-sidebar">
    <div id="files" class="nav treeview condensed"></div>
  </div>
  <div class="tab-content">
    <%= render "files", sub_files: @submission_files %>
  </div>
  <script>
    <%= render partial: "render_comments.js" %>
  </script>
</div>
<% end %>

<% if @assignment.related_assignment_id.nil? %>
<div id="responses" class="form-group container">
<% else %>
<div id="responses" class="form-group col-sm-6">
<% end %>
<%= render "render_questions" %>  
</div>
<% end %>
