<% @page_title = "View Response" %>
<% cur_reg = current_user.registration_for(@course) %>
<% content_for :wide_content_before do %>

<p>
  <%= link_to "Back to Assignment: #{@assignment.name}", course_assignment_path(@course, @assignment) %>
</p>

<h1>Response</h1>

<table class="table row-vcenter">
  <tr>
    <td><strong>Assignment</strong></td>
    <td><%= @submission.assignment.name %></td>
  </tr>
  <% if @submission.team.nil? %>
    <tr>
      <td><strong>Student</strong></td>
      <td><%= @submission.user.name %></td>
    </tr>
  <% else %>
    <tr>
      <td><strong>Team</strong></td>
      <td><%= @submission.team %> (submitted by <%= @submission.user.name %>)</td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Submission Time</strong></td>
    <td><span class="local-time"><%= @submission.created_at %></span></td>
  </tr>
  <tr>
    <td><strong>Student Notes</strong></td>
    <td>
      <div class="prose"><%= @submission.student_notes %></div>
    </td>
  </tr>
</table>

<% end %>

<% content_for :wide_content do %>
<% if @assignment.related_assignment_id %>
<div class="col-sm-6">
  <div id="files-sidebar">
    <div id="files" class="nav treeview condensed"></div>
  </div>
  <div class="tab-content">
    <%= render "files", sub_files: @submission_files %>
  </div>
  <script>
    <%= render partial: "render_comments.js" %>
  </script>
</div>
<% end %>

<% if @assignment.related_assignment_id.nil? %>
<div id="responses" class="form-group container">
<% else %>
<div id="responses" class="form-group col-sm-6">
<% end %>  
  <% count = 0 %>
  <% @questions.each do |section| %>
    <% section.each do |name, qs| %>
      <h4><%= name %></h4>
      <ol start="<%= count + 1 %>">
        <% qs.each_with_index do |question, i| %>
          <% question.each do |type, q| %>
            <li>
              <p>
                <%= sanitize(q["prompt"], tags: %w(b strong i em)) %>
                <small>(<%= pluralize(q["weight"], "point") %>)</small>
              </p>
              <%= render "show_answer_#{type.underscore}", q: q, index: i + count %>
              <p></p>
              <% if q["parts"] %>
                <div class="parts" data-qnum="<%= i + count %>">
                <% q["parts"].each_with_index do |part, part_i| %>
                  <% part_ans = @answers
                     part_ans = part_ans[i + count] if part_ans
                     part_ans = part_ans["parts"] if part_ans
                     part_ans = part_ans[part_i] if part_ans %>
                  <% if part["codeTag"] %>
                  <p><%= sanitize(part["codeTag"], tags: %w(b strong i em)) %></p>
                  <span class="btn btn-default btn-sm btn-disabled" disabled>
                    <%= @submission_files.find(link: part_ans["file"]).first[:name] %>, line <%= part_ans["line"] %>
                  </span>
                  <% elsif part["text"] %>
                  <p><%= sanitize(part["text"], tags: %w(b strong i em)) %></p>
                  <textarea disabled class="form-control" rows="5"
                            name="answers[<%= i + count %>][parts][<%= part_i %>][info]"><%= if part_ans then part_ans['info'] end %></textarea>
                  <% elsif part["requiredText"] %>
                  <p><%= sanitize(part["requiredText"], tags: %w(b strong i em)) %></p>
                  <textarea disabled class="form-control <%= if @answers and (part_ans.nil? or part_ans['info'].to_s.empty?) then 'unanswered' end %>" rows="5"
                            name="answers[<%= i + count %>][parts][<%= part_i %>][info]"><%= if part_ans then part_ans['info'] end %></textarea>
                  <% end %>
                <% end %>
                </div>
              <% end %>
              <% if @grades %>
              <% grade = @grades[i + count] %>
              <div class="panel panel-info">
                <div class="panel-heading"><%= to_fixed(grade["score"] * 100) %>%</div>
                <div class="panel-body"><%= grade["comments"] %></div>
              </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
      <% count += qs.count %>
    <% end %>
  <% end %>
</div>
<% end %>
