<% @page_title = "View Submission Details" %>
<% content_for :wide_content_before do %>
<p>
  <%= link_to "< Back to submission", course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Submission</h1>

<%= render :partial => 'submissions/sub_info' %>
<% end %>

<% content_for :wide_content do %>
<div class="col-sm-3">
  <div id="files-sidebar" data-spy="affix">
    <div id="files" class="nav treeview condensed"></div>
  </div>
</div>
<div class="col-sm-9 tab-content">
  <%= render "files", sub_files: @submission_files %>
</div>

<script>
  var lineComments = <%= raw(JSON.pretty_generate(@submission_files.map{|s| s[:lineComments]})) %>;
  <%= render :partial => 'submissions/render_comments.js' %>
  $(function() { renderComments(lineComments); });
</script>
<% end %>
