<% @page_title = "View Submission Details" %>

<p>
  <%= link_to "< Back to submission", course_assignment_submission_path(@course, @assignment, @submission) %>
</p>

<h1>Submission</h1>

<table class="table">
  <tr>
    <td><strong>Assignment</strong></td>
    <td><%= @submission.assignment.name %></td>
  </tr>
  <% if @submission.team.nil? %>
    <tr>
      <td><strong>Student</strong></td>
      <td><%= @submission.user.name %></td>
    </tr>
  <% else %>
    <tr>
      <td><strong>Team</strong></td>
      <td><%= @submission.team %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Submission Time</strong></td>
    <td><span class="local-time"><%= @submission.created_at %></span></td>
  </tr>
  <tr>
    <td><strong>Student Notes</strong></td>
    <td>
      <div class="prose"><%= @submission.student_notes %></div>
    </td>
  </tr>
</table>

<div class="row">
  <div class="col-sm-3 hang-left">
    <div id="files" class="nav treeview condensed" data-spy="affix">
    </div>
  </div>
  <div class="col-sm-12 tab-content">
    <% @submission_files.each_with_index do |f, i| %>
    <div class="tab-pane panel-tab-pane active<%= if i > 0; ' hideAfterRender' end %>" id="file_<%= i + 1 %>">
      <% if f[:ftype] == "image" %>
      <%= image_tag f[:link], alt: f[:name] %>
      <% elsif f[:ftype] == "zip" || f[:ftype] == "jar" %>
      <%= link_to f[:link], "Download #{f[:name]}" %>
      <% else %>
      <div>
      <textarea class="sourceCode" data-lang="<%= f[:type] %>" id="contents_<%= i %>"><%= render html: f[:contents] %></textarea>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<script>
$(function (){
  $("textarea.sourceCode").each(function(_, code) {
    if ($(code).data("lang")) {
      var cm = CodeMirror.fromTextArea(code, {
        readOnly: true, indentUnit: 2,
        mode: $(code).data("lang"),
        theme: 'mdn-like', viewportMargin: Infinity,
        lineNumbers: true, lineWrapping: false,
        styleActiveLine: true
      });
      var height = cm.heightAtLine(Math.min(75, cm.getDoc().lineCount())) - cm.heightAtLine(0);
      cm.setSize(null, height + 30);
      // cm.setSize(null, cm.heightAtLine(cm.getDoc().lineCount() + 1) - cm.heightAtLine(cm.getDoc().firstLine() - 1) + 30);
      // CodeMirror.runMode($(code).text(), $(code).data(\"lang\"), code);
      $(code).addClass("cm-s-mdn-like cm-s-default");
    }
    });
  $(".tab-pane.hideAfterRender").each(function() {
    $(this).removeClass("active").removeClass("hideAfterRender");
  });
  $("#files").treeview({
    expandIcon: 'glyphicon glyphicon-chevron-down', // deliberately the same
    collapseIcon: 'glyphicon glyphicon-chevron-down', // always expanded
    enableLinks: true,
    onNodeSelected: function(e, data) {
      console.log(data);
      e.preventDefault();
      e.stopPropagation();
      if (data.href !== undefined && data.href !== "#") {
        $(".tab-pane").removeClass("active");
        $(data.href).addClass("active");
      }
    },
    data: <%= raw(@submission_dirs) %>
  });
  $("#files").treeview('expandAll', { silent: true });
  $("#files").data("offset-top", $("#files").offset().top);
  if (document.location.hash !== "")
    $("#files a[href='" + document.location.hash + "']").tab('show');
});
</script>

<% unless @submission.assignment.grading_upload_id.nil? %>

<h1>Autograding Output</h1>

<script>
  function reload_bottom() {
    window.location.href = window.location.href + "#bottom";
    window.location.reload(true);
  }
</script>

<p id="bottom2"><%= link_to_function "Refresh Output", "reload_bottom();" %></p>

<pre>
<% # Lack of indentation important here. %>
<%= @submission.grading_output %>
</pre>

<p id="bottom"><%= link_to_function "Refresh Output", "reload_bottom();" %></p>

<% end %>
