<% @page_title = @questionnaire.name %>
<h1><%= @questionnaire.name %></h1>
<% if @questionnaire.assignment %>
<h3>Related assignment:
  <%= link_to @questionnaire.assignment.name,
      course_assignment_path(@course, @questionnaire.assignment) %></h3>
<% end %>
<ol>
  <% @questionnaire.questions.each do |q| %>
  <li>
      <p><large><%= q.prompt %></large><small>(<%= q.weight %> points)</small></p>
      <%= begin
            render "show_#{q.type}", q: q
          rescue => e
            render "show_UnknownType", q: q
          end %>
  </li>
  <% end %>
</ol>
