<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Requests</h3>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Note</th>
      <th>&nbsp;</th>
    </tr>

    <% requests.each do |request| %>
      <tr>
        <td><%= link_to request.user.name, user_path(request.user) %></td>
        <td><%= request.role %></td>
        <td><%= request.user.email %></td>
        <td><%= request.notes %></td>
        <td width="65">
          <div class="btn-group pull-right" role="group">
            <%= link_to course_reg_request_accept_path(@course, request), method: :delete, class: "btn btn-success btn-xs" do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
            <%= link_to course_reg_request_reject_path(@course, request), method: :delete, class: "btn btn-danger btn-xs" do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
