<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Abnormal submissions summary</h3>
  </div>
  <div class="panel-body">
    <% if @abnormals.count == 0 %>
    None
    <% else %>
    <% @abnormals.each do |assn, people| %>
    <h4><%= link_to assn.name, course_assignment_path(@course,
            assn.id) %></h4>
    <ul>
      <% people.each do |s| %>
      <li><%= s.name %>: <%= link_to "View all submissions",
              course_assignment_user_path(@course, assn, s) %></li>
      <% end %>
    </ul>
    <% end %>
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Unpublished submissions summary</h3>
  </div>
  <div class="panel-body">
    <% if @unpublished.count == 0 %>
    None
    <% else %>
    <% @unpublished.each do |assn, unpub| %>
    <h4><%= link_to assn.name, course_assignment_path(@course,
            assn.id) %></h4>
    <ul>
    <% unpub.each do |sub| %>
    <li><%= link_to sub.user.name, course_assignment_submission_path(@course,
            sub.assignment_id, sub.id) %></li>
    <% end %>
    </ul>
    <% end %>
    <% end %>
  </div>
</div>
