<div class="page-header">
  <h1><%= @course.name %></h1>

  <div class="actions">
    <%= link_to "Status Report", @registration, class: "btn btn-default" %>
  </div>
</div>

<% @course.buckets_sorted.each do |bucket| %>
  <h2><%= bucket.name %></h2>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Due Date</th>
    </thead>
    <tbody>
    <% bucket.assignments.order(:name).each do |assignment| %>
      <tr>
        <td><%= link_to assignment.name, course_assignment_path(@course, assignment) %></td>
        <td><%= assignment.due_date %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
