<% @page_title = @course.name %>

<div class="page-header">
  <h1>
    <%= @course.name %>
    <small><%= @course.term.name %></small>
  </h1>

  <% if current_user.registration_for(@course) %>
    <p>
      You are a
      <strong><%= current_user.registration_for(@course).role %></strong>
      of this course.
    </p>
  <% else %>
    <p>
      You are not registered for this course.
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <% @course.buckets_sorted.each do |bucket| %>
      <%= render "assignments/table", assignments: bucket.assignments %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Current Team</h2>
    <% active_team = current_user.active_team_for(@course) %>
    <% if active_team %>
      <%= link_to course_team_path(@course, active_team) do %>
        <span><%= active_team %></span>
      <% end %>
    <% else %>
      No active team.
    <% end %>

    <h2>All Teams</h2>
    <ul>
      <% current_user.teams_for(@course).each do |team| %>
        <li><%= link_to team, course_team_path(@course, team) %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if current_user.course_staff?(@course) %>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <%= render "users/table", header: "Students", users: @students %>
    </div>
    <div class="col-md-6">
      <%= render "users/table", header: "Staff", users: @staff %>
    </div>
  </div>
<% end %>
